name: Reset Draft Orders

on:
  workflow_dispatch:

jobs:
  cleanup:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Python deps
        run: pip install python-dotenv

      - name: Run cleanup script
        env:
          ODOO_URL: ${{ secrets.ODOO_URL }}
          ODOO_DB: ${{ secrets.ODOO_DB }}
          ODOO_USER: ${{ secrets.ODOO_USER }}
          ODOO_PASSWORD: ${{ secrets.ODOO_PASSWORD }}
        run: python reset_odoo_drafts.py
